.tag {
    border-radius: 10px;
    padding: 0.3rem;
}

.team-start-tag {
    background-color: var(--very-light-purple);
}

.bureaucracy-tag {
    background-color: var(--very-light-secondary);
}

.other-tag {
    background-color: var(--verylightblue);
}

.wiki-tag {
    background-color: var(--lightyellow);
}

.infrastructure-tag {
    background-color: var(--cebitecgray);
}