.tag {
    border-radius: 10px;
    padding: 0.3rem;
}

.protocol-tag {
    background-color: var(--dark-secondary);
}

.team-start-tag, .meetup-tag {
    background-color: var(--very-light-purple);
}

.bureaucracy-tag, .igem-tag {
    background-color: var(--very-light-secondary);
}

.other-tag {
    background-color: var(--verylightblue);
}

.hp-tag {
    background-color: var(--lightblue-drei);
}

.wiki-tag {
    background-color: var(--lightyellow);
}

.infrastructure-tag, .entrepreneurship-tag {
    background-color: var(--cebitecgray);
}