.prose {
    border: var(--offblack) solid  1px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    table {
        border: var(--offblack) solid ;
        margin: 1.5rem auto;
       tbody {
           display: block;
           max-height: 300px;
           overflow-y: auto;
       }
        thead {
            border: var(--offblack) solid ;
            background-color: var(--darkerbeige);
        }
        th, td {
            padding: .5rem;
        }

    }
    pre {
        width: 50%;
        margin: auto;
        padding: 1.5rem;
        background-color: var(--ourbeige);
        min-width: fit-content;
        border: var(--offblack) solid 1px;
    }
    p {
        margin-bottom: 1rem;
    }
}