/** ArticleMeta*/
.tags,
.tags li {
    display: inline;
    list-style: none;
    padding: 0;
    margin: 0;
}

.tags ul li {
    list-style-type: none !important;
}

.row .col-4 .article-summary .tags li {
    font-size: x-small;
}

.tags li:not(:first-child)::before {
    content: ', ';
}

/*BlogIndexPage*/

.blogindex-title {
    font-family: Montserrat, sans-serif;
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 3.5rem;
    margin-top: 0;
    margin-bottom: 2.625rem;
    text-rendering: optimizeLegibility;
}
.blogindex-title a {
    color: black;
    text-decoration: none;
}

/* BlogPage */

.articlesList,
.articlesList > li {
    list-style: none;
    padding: 0;
    margin: 0 0 2.625rem;;
}

#main-wrapper{
    max-width: 85%;
    margin: auto auto;
}


.carousel-item ul {
    padding: 0;
}

/*Pagination*/

.Pagination {
    display: block;
    margin: 4.375rem 0 7rem;
}

.Pagination .previous {
    margin-right: 0.5rem;
}
.Pagination .next {
    margin-left: 0.5rem;
}

code {
    color: var(--text-primary);
}

.linkcard {
    padding-left: 0;
    padding-right: 0;
    .card-header, .card-footer {
        background-color: var(--lightblue);
        border-radius: 0;
    }
}

.card-img-top {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.card-header {
    background-color: var(--verylightblue);
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}


.transition-grow {
    transition: all .3s cubic-bezier(0,0,.5,1);
}

