@import "tailwindcss";

body {
  margin: 0;

   h1, h2, h3, h4, h5, h5, nav *, .fake-h2, .fake-h3 {
       font-family: "Cutive Mono", monospace;
   }
    font-weight: 500;
    font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
    --ourgradient: linear-gradient(90deg, rgba(147,94,184,1) 0%, rgba(160,167,243,1) 100%);
    --text-primary: #850F78 ;
    --mediumpurple: #bc15aa;
    --lightpurple: #B85BD1;
    --very-light-purple: #ce9fc9;
    --purple: #B85BD1;
    --accen-secondary: #F57D22;
    --dark-secondary: #ac5818 ;
    --light-secondary: #f7974e ;
    --very-light-secondary: #fabb8c;
    --accent-gradient-one-of-three: #F59121;
    --accent-gradient-two-of-three: #F5A520;
    --accent-gradient-three-of-three: #F5B91F;
    --accent-gradient-four-of-three: var(--accent-primary);
    --accent-gradient-five-of-three: var(--lightyellow);
    --yellow-dark: #BB9909;
    --accent-primary: #F4CC1E;
    --lightyellow: #fae99e;
    --lightblue: #A0A7F3 ;
    --lightblue-zwei: #abb1f4;
    --lightblue-drei: #c6caf8;
    --verylightblue: #ebecfd;
    --offblack: #32232C ;
    --cebitecgray: #8295A4;
    --ourbeige: #FFF6F2;
    --darkerbeige: #e2dad7;
    --background:  #fffff; /*#FFF6F2;*/
    /*igem colours*/
    --igemdarkgreen: #006530;
    --igemmediumgreen: #019968;
    --igemlightgreen: #99cb9a;

}

.btn-outline-primary, .btn:active, .btn:hover {
    --bs-btn-active-bg: var(--offblack) !important;
    --bs-btn-hover-bg: var(--offblack) !important;
    --bs-btn-color: var(--offblack) !important;
    --bs-btn-border-color: var(--offblack) !important;
    --bs-btn-active-border-color: var(--offblack) !important;
    --bs-btn-active-hover-color: var(--offblack) !important;
    --bs-btn-hover-border-color: var(--offblack) !important;
}

hr {
    opacity: 0.5;
}


a {
    color: var(--text-primary) !important;
}

.accordion {
    .show {
        visibility: visible !important;
    }
    .bi, svg, .icon {
        width: min-content !important;
    }
    .bi-typescript, .bi-javascript, .icon-python, .icon-java{
        fill: var(--lightpurple);
        svg {
            fill: var(--lightpurple);
        }
    }
    .bi-css, .icon-html {
        fill: var(--mediumpurple);
        svg {
            fill: var(--mediumpurple);
        }
    }
    .bi-gitlab, .bi-github, .icon-vsc, .icon-intellij {
        fill: var(--very-light-purple);
        svg {
            fill: var(--very-light-purple);
            stroke: var(--very-light-purple);
        }
    }
    .icon-react, .icon-angular, .bi-bootstrap-fill, .icon-tailwind {
        svg {
            fill: var(--text-primary);
        }
        fill: var(--text-primary);
    }
    .icon-counselling {
        svg {
            fill: var(--accen-secondary);
        }
    }
}


.uni-embed{
    .wp-block-cgb-block-uniicon{
        display: none;
    }
    padding: 2rem;
    p{
        text-align: justify;
    }
    .uni-image {
        margin: auto !important;
        max-width: 70%;
        img{
            max-width: 100% !important;
            margin: auto !important;
        }
    }

    .caption-text{
        margin-bottom: 2rem;
    }


}


.zif-embed{
    padding: 2rem;
    p{
        text-align: justify;
    }
    img{
        margin: auto !important;
        max-width: 70%;
        max-height: 40vh;
    }

    .caption-text{
        margin-bottom: 2rem;
    }
}

.bfh-card{
    height: 100%;
}


.card {
    border-radius: 0!important;
}

.card-img-indi{
    max-height: 25rem;
    object-fit: cover;
    width: 100%;
}


.card-img-top{
    width: 100%;
    height: 20vh;
    object-fit: cover;
}

.img-cc{
    font-size: 0.6rem;
}


h2 {
    margin-bottom: 2rem ;
}

p {
    margin-bottom: 2rem;
}

.img-container{
    position: relative;
    text-align: center;
    color: white;
}

.new {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 0.6rem;
}

section {
    margin-bottom: 5rem;
}

.carousel, .accordion {
    margin-bottom: 3rem;
}

.cv-year{
    padding-right: 1rem;
    width: 250px;
}

.cv-stelle {
    font-weight: bold;
}

.cv-desc{
    padding-left: 0.5rem;
}

.cv-inst {
    padding-left: 0.5rem;
    font-style: italic;
}

.gallery-img {
    width: 100%;
    padding-bottom: 1rem;
}

img {
    max-width: 100%;
}
.navbar-nav{
    visibility: visible;
}

.dropend {
    .nav-item {
        padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
        .dropdown-toggle {
            padding: 0 0 !important;
        }
    }
}

#basic-navbar-nav {
    align-items: end;
}
.navbar {
    .dropdown-toggle::after {
        vertical-align: .1em !important;
    }
    a {
        color: #1a1a1a !important;
        cursor: pointer;
    }
    .container {
        height: 100%;
        text-align: center;
        border: solid #1a1a1a 1px;
        .navbar-brand {
            height: 100%;
            border-right: solid #1a1a1a 1px;
        }
    }
}



.container {
    max-width: 100% !important;
}


.linkimg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.linkding{
    color: #0f0f0f !important;
    background-color: var(--verylightblue);
}

.accordion-button:not(.collapsed){
    background-color: white;
}
.accordion-button:focus {
    outline: 0;
    color: black;
}

.accordion-button:not(.collapsed) {
    color: black;
}